tensorflow
pandas
dvc
notebook
numpy
sklearn
pathlib
dataclasses
scikit-learn
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
pickle-mixin
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
-e .